/* General */
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #66b2b2;
  text-align: center }
h1 {
	 color: #004c4c;
}
h2 {
  color: #004c4c;
}
p {
  color: #004c4c;
}

/* Table of Contents */
.navbar {
  overflow: hidden;
  text-align: center;
  float: left;
  padding-right: 7px;
  border-style: hidden solid hidden hidden;
  border-width: 4px;
  border-color: #DAA520;
  margin: 5px 15px 15px 15px;
}

/* Links */
a:link {
    text-decoration: none;
    color: #004c4c;
}
a:visited {
    text-decoration: none;
    color: #004c4c;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

/*Thumbnails */
.thumbnailContainer{
    width: calc(100% - 236px);
    height: calc(100% - 236px);
    display: flex;
    flex-wrap: wrap;
    margin-left: 128px;
}
.thumbnail {
	  width: calc((100vw - 236px)/4);
    height: calc((100vw - 236px)/3);
    margin: 5px;
    float: center;
    cursor: pointer;
}
.thumbnail:hover .overlay {
    opacity: 1;
}
.overlay {
    position: relative;
    bottom: calc(100% + 5px);
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Hovertext */
.hovertext{
    width: 80%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.hovertext h2{
    margin-top: 50%;
    margin-left: 25%;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
}
.hovertext p{
    font-size: 12px;
    line-height: 16px;
}
