/* General */
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #66b2b2;
  text-align: center }
h1 {
	 color: #004c4c;
}
h2 {
  color: #004c4c;
}
p {
  color: #004c4c;
}

/* Table of Contents */
.navbar {
  overflow: hidden;
  text-align: center;
  float: left;
  padding-right: 7px;
  border-style: hidden solid hidden hidden;
  border-width: 4px;
  border-color: #DAA520;
  margin: 5px 15px 15px 15px;
}

/* Links */
a:link {
    text-decoration: none;
    color: #004c4c;
}
a:visited {
    text-decoration: none;
    color: #004c4c;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

/*Thumbnails */
div.thumbnail {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.thumbnail:hover {
    border: 1px solid #777;
}

div.thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}